body {
    background-color: rgb(253, 251, 251);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    line-height: 30px;
}

#cabecalho {
    top: 0px;
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 150px;
}

h1 {
    color: white;
}

#minha_foto {
    height: 200px;
}

table td,
th {
    border: 1px solid;
    margin: 0px;
    width: auto;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.center {
    text-align: center;
}

ol, ul {
    display: inline-block;
}


.lado-esquerdo {
    display: inline-block;
    width: 40%;
    max-width: 500px;
    vertical-align: top;
    text-align: center;
}

.lado-direito {
    display: inline-block;
    width: 30%;
    max-width: 300px;
    vertical-align: top;
    text-align: center;
}