body {
    background-color: rgb(253, 251, 251);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    line-height: 30px;
}

#cabecalho {
    top: 0px;
    position: fixed;
    background-color: blue;
    width: 100%;
    height: 150px;
}
h1 {
    color: white;
}

#minha_foto {
    height: 200px;
}

table td, th{
    border: 1px solid;
    width: auto;
    padding: 10px;
    text-align: center;
    font-size: 25px;

}

margin
padding
border